@charset "UTF-8";
html, body, #cesium {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#about {
  padding-right: 50px;
  padding-left: 50px; }

#about_foot {
  margin-top: 50px;
  float: right; }

.about_head {
  text-align: center; }

#intro {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: black; }

#toptitle {
  position: relative;
  top: 40%;
  display: none; }

#toptitle h1 {
  font-size: 120px; }
.percent {
  font-size: 250px; }

@media screen and (max-width:767px) {
#toptitle h1 {
  font-size: 34px; }
.percent {
  font-size: 100px; }
}

#desc3 {
  color: #fff;
  top: 27%;
  position: relative;
  text-align: center;
  display: none;
  font-size: 32px;
  display: none; }

svg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999; }


.head_logo {
  font-size: 32px;
  margin-left: 5px;
}
@media screen and (max-width:767px) {
  .head_logo {
    font-size: 22px;
    margin-left: 5px;
  }
}


#intro h1 {
  color: #fff;
  text-align: center; }

#sv {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

#waveform {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999; }

#wavedesc {
  color: #fff;
  font-size:18px;
  margin: 5px; }

#wavedesc_en {
  color: #fff;
  font-size:18px;
  margin: 5px; }

@media screen and (max-width:767px) {
  #waveform {
  width: 90%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999; }

#wavedesc {
  color: #fff;
  font-size:8px;
  margin: 5px; }

#wavedesc_en {
  color: #fff;
  font-size:8px;
  margin: 5px; }
}



#acontrol {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 999; }

.btn-return {
  position: absolute;
  bottom: 10px;
  z-index: 999;
  display: none; }

@media screen and (max-width:767px) {
  .btn-return {
  position: absolute;
  bottom: 10px;
  z-index: 999;
  display: none; }
}

a {
  color: #fff; }

#head {
  position: absolute;
  color: #fff;
  margin: 5px;
  z-index: 1000;
  padding: 10px;
  display: none; }

#foot {
  position: absolute;
  color: #fff;
  right: 10px;
  z-index: 1000;
  bottom: 10px;
  font-size:18px;
  display: none; }

@media screen and (max-width:767px) {
  #foot {
  position: absolute;
  color: #fff;
  z-index: 1000;
  bottom: 10px;
  margin-left:5px;
  display: none; }

  .foot-desc p {
    font-size:10px;
  }

  .cesium-infoBox-defaultTable {
    font-size: 10px;
  }
}

.foot-content {
  margin-left: 0px;
  margin-right: 15px;
  float: left; }

.cesium-infoBox-title {
  display: none; }

button.cesium-infoBox-camera {
  display: none; }

.btn {
  font-size: 18px;
}

.btn-link {
  color: #fff;
}

.i-about {
  font-size:22px;
  margin-top:9px;
}

a:hover {
    color: #FFFF00;
}

.btn-link:hover {
    color: #FFFF00;
}
