doctype html
html
  head
    meta(charset='utf-8')
    title About | Okinawa Noise Map
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no')
    link(rel='stylesheet', href='cesium/Widgets/widgets.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/colorbox.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    #about
        h1.about_head Okinawa Noise Map
        hr
        p('style'='text-align:center;')
          Okinawa Noise Map（オキナワ・ノイズ・マップ）は、フィールド・レコーディングされた
          br
          沖縄基地周辺の騒音をリアルに地図上にマッピングし、
          br
          そこに暮らす人々の視点から擬似体験します。
        hr
        #about_member
          p
            b - Direction, Field Recording, Sound Editing -
            br
            |    前林明次｜Akitsugu Maebayashi
          br
          p
            b - Web Design & Programming -
            br
            |    松野峻也｜Shunya Matsuno
          br
          p
            b - Field Recording Cooperation -
            br
            |    具志堅裕介｜Yusuke Gushiken
        #about_foot
          p copyright &copy; 2016 - Okinawa Noise Map
