doctype html
html
  head
    meta(charset='utf-8')
    title オキナワノイズマップ
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no')
    link(rel='stylesheet', href='cesium/Widgets/widgets.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    #intro
      #toptitle
        h1 OKINAWA NOISE MAP
      svg
        circle#circle(r="0", fill='rgba(255, 255, 255, 0.8)', cx='60%', cy='35%')
        circle#circle_okinawa(r="0", fill='rgba(255, 255, 255, 0.8)', cx='25%', cy='35%')
        g#circledesc(font-family='sans-serif', font-size='18')
          text(id='percent' x='58%', y='35%', fill='black')
            | 99.4%
        g#okinawa_circle(font-family='sans-serif', font-size='18')
          text(id='okinawa_percent', x='23.5%', y='35%', fill='black')
            | 0.6%

      #desc 沖縄県は日本の国土のおよそ0.6%の県です。

    #head
      h3 OKINAWA NOISE MAP
    #cesium.cesium

    #waveform
      #wavedesc 2016/03/11 オスプレイ
      button.btn.btn-default.btn-return.btn-sm << back
    #sv

    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDB6eGK2LO6h_YT8OSFU_qpDXL2Q6i-vSg&callback=initMap')
    script(src='cesium/Cesium.js')
    script(src='/js/jquery-2.2.1.min.js')
    script(src='/js/velocity.min.js')
    script(src='/js/two.min.js')
    script(src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.0.52/wavesurfer.min.js")
    script(src='/js/main.js')
