doctype html
html
  head
    style(type='text/css').
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
  body
    #map
    |
    script(type='text/javascript').
      var stylez = [
        {
          "stylers": [
            { "saturation": -80 },
            { "gamma": 1.11 },
            { "visibility": "on" },
            { "invert_lightness": true }
          ]
          },{
            "featureType": "all",
            "elementType": "labels",
            "stylers": [
             { visibility: "off" }
            ]
          },
          {
          "featureType": "water",
          "stylers": [
            { "color": "#fefefe" }
          ]
          },{
          "featureType": "road",
          "stylers": [
            { "visibility": "off" },
            { "color": "#000000" }
          ]
          },{
          "featureType": "transit",
          "stylers": [
            { "visibility": "off" },
            { "color": "#000000" }
          ]
        }
      ];
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 26.4327133, lng: 127.9414052},
          styles: stylez,
          zoom: 10
        });
      }
      var App = {};
      App.futenmaCenterLat = "26.4327133";
      App.futenmaCenterLng = "127.9414052";
      futenmaImageBounds = new google.maps.LatLngBounds(
          new google.maps.LatLng(App.futenmaLeftLat, App.futenmaLeftLng),
          new google.maps.LatLng(App.futenmaRightLat, App.futenmaRightLng));
      futenmaOverlay = new google.maps.GroundOverlay("/img/futenma.png", futenmaImageBounds);
      futenmaOverlay.setMap(map);
    |
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDB6eGK2LO6h_YT8OSFU_qpDXL2Q6i-vSg&callback=initMap')
