doctype html
html
  head
    meta(charset='utf-8')
    title オキナワノイズマップ
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no')
    meta(charset='UTF-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(name='description', content='Okinawa Noise Map（オキナワ・ノイズ・マップ）は、フィールド・レコーディングされた沖縄基地周辺の騒音をリアルに地図上にマッピングし、そこに暮らす人々の視点から擬似体験します。')
    meta(name='keywords', content='沖縄,騒音,米軍基地,ノイズ,オスプレイ,マッピング,普天間基地,ストリートビュー,立体音響,フィールド・レコーディング,Okinawa,Noise,U.S. Bases,Osprey,Mapping,Street View,3D sound reproduction')
    link(rel='canonical', href='http://okinawa.noisemap.jp/')
    meta(property='og:title', content='Okinawa Noise Map')
    meta(property='og:url', content='http://okinawa.noisemap.jp/')
    meta(property='og:site_name', content='Okinawa Noise Map')
    meta(property='og:description', content='Okinawa Noise Map（オキナワ・ノイズ・マップ）は、フィールド・レコーディングされた沖縄基地周辺の騒音をリアルに地図上にマッピングし、そこに暮らす人々の視点から擬似体験します。')
    meta(property='og:locale:alternate', content='ja')
    link(rel='stylesheet', href='cesium/Widgets/widgets.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/colorbox.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    #intro
      #toptitle
        h1 Okinawa Noise Map
      #desc1
        h1.percent 0.6%
        br
        p.desc_p Okinawa Prefecture covers only 0.6% of the land in Japan.
        p.desc_p 沖縄県の面積は日本の国土のわずか0.6%です.
      #desc2
        h1.percent 74%
        br
        p.desc_p But 74% of U.S. military facilities in Japan are in Okinawa.
        p.desc_p しかし、日本の米軍関連施設の74%は沖縄にあります.
      #desc3
        h1.percent Listen
        br
        p.desc_p Now listen to the noise recorded around the bases in Okinawa.
        p.desc_p 基地周辺で録音された騒音を聞いてみましょう.

    #head
      h3.head_logo Okinawa Noise Map
      .foot-content
        a.about About
      .foot-content
        i('class'="fa fa-facebook-official", 'aria-hidden'="true")
      .foot-content
        i('class'="fa fa-twitter-square", 'aria-hidden'="true")
      .foot-content
        i('class'="fa fa-google-plus-square", 'aria-hidden'="true")
    #cesium.cesium

    #waveform
      #wavedesc
      #wavedesc_en
      button.btn.btn-default.btn-return.btn-sm << back
    #sv

    #foot
      .foot-desc
        p
          | Click red points. Listen with headphones
          b('style'='color:red;')  as loud as possible.
          br
          | 赤丸をクリックします. ヘッドフォンで
          b('style'='color:red;') できるだけ大きな音
          | で聞いてください.


    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDB6eGK2LO6h_YT8OSFU_qpDXL2Q6i-vSg&callback=initMap')
    script(src='cesium/Cesium.js')
    script(src='/js/jquery-2.2.1.min.js')
    script(src='/js/jquery.colorbox-min.js')
    script(src='/js/velocity.min.js')
    script(src='/js/two.min.js')
    script(src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.0.52/wavesurfer.min.js")
    script(src='/js/main.js')
