doctype html
html
  head
    meta(charset='utf-8')
    title OKINAWA NOISE MAP
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no')
    meta(charset='UTF-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(name='description', content='OKINAWA NOISE MAP（オキナワ・ノイズ・マップ）は、フィールド・レコーディングされた沖縄基地周辺の騒音をリアルに地図上にマッピングし、そこに暮らす人々の視点から擬似体験します。')
    meta(name='keywords', content='沖縄,騒音,米軍基地,ノイズ,オスプレイ,マッピング,普天間基地,ストリートビュー,立体音響,フィールド・レコーディング,Okinawa,Noise,U.S. Bases,Osprey,Mapping,Street View,3D sound reproduction')
    link(rel='canonical', href='http://okinawa.noisemap.jp/')
    meta(property='og:title', content='Okinawa Noise Map')
    meta(property='og:image', content='http://okinawa.noisemap.jp/img/ogp.jpeg')
    meta(property='og:url', content='http://okinawa.noisemap.jp/')
    meta(property='og:site_name', content='OKINAWA NOISE MAP')
    meta(property='og:description', content='OKINAWA NOISE MAP（オキナワ・ノイズ・マップ）は、フィールド・レコーディングされた沖縄基地周辺の騒音をリアルに地図上にマッピングし、そこに暮らす人々の視点から擬似体験します。')
    meta(property='og:locale:alternate', content='ja')
    link(rel='stylesheet', href='cesium/Widgets/widgets.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/colorbox.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    #sp
      現在このサイトはPCでのみ閲覧可能です。

    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDB6eGK2LO6h_YT8OSFU_qpDXL2Q6i-vSg&callback=initMap')
    script(src='cesium/Cesium.js')
    script(src='/js/jquery-2.2.1.min.js')
    script(src='/js/jquery.colorbox-min.js')
    script(src='/js/velocity.min.js')
    script(src='/js/two.min.js')
    script(src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.0.52/wavesurfer.min.js")
    script(src='/js/main.js')
    script.
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
     ga('create', 'UA-79575085-1', 'auto');
     ga('send', 'pageview');
